.container {
  padding: 1rem 10% 0;

  &-icon {
    font-size: 1.2em;
  }

  // 侧边栏
  &-side {
    position: absolute;
    width: 20rem;
    // height: 70rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 20px #bbb;
    box-sizing: border-box;
    padding: 1rem;

    &--fixed {
      position: fixed;
    }


    &__photo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 2rem;

      ::v-deep .el-avatar {
        width: 8rem;
        height: 8rem;
        margin-bottom: 2rem;

      }
    }

    .info-unit {
      ul {
        li {
          label {
            display: inline-block;
            width: 35%;
          }

          span {
            display: inline-block;
            vertical-align: top;
            width: 60%;
          }
        }
      }
    }

  }

  // 主体内容
  &-main {
    position: relative;
    margin-left: 22rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 20px #bbb;
    box-sizing: border-box;
    padding: 1rem;

    &__qrcode {
      &-container {
        display: flex;
        width: 100%;
      }

      &-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          max-width: 150px;
        }
      }
    }

    &__link {
      margin-right: 6px;
    }

    // height: 75rem;
    .info-unit {
      h2 {
        // font-weight: 300;
      }

      ul {
        box-sizing: border-box;
        padding-left: 1.2rem;
        padding-right: 0.8rem;

        li {
          margin-bottom: 1rem;
          list-style: disc;

          h3 {
            .container-main__demo {
              font-size: .5rem;
              border: 1px solid $theme-color;
              padding: 1px 3px;
              -webkit-border-radius: 5px;
              border-radius: 5px;
              margin-left: .5rem;
            }

            time {
              text-align: right;
              float: right;
            }
          }

          .container-main__content {
            li {
              list-style: circle;
              margin: 0;
            }

            .container-icon {
              font-size: 1em;
            }
          }

        }
      }
    }
  }

}

// 6 plus
@media screen and (max-width: 750px) {
  .container {
    padding: .5rem .5rem 0;

    .container-side {
      position: static;
      width: 95%;
      margin: 0 auto;
    }

    .container-main {
      position: static;
      width: 95%;
      margin: 1.5rem auto 0;
    }
  }
}

//移动端适配，右侧时间跨行宽度
@media screen and (max-width: 1169px) {

  .container .info-unit h3 span {
    display: block;

    &.container-main__demo {
      display: inline;
    }
  }

  .container-main__project h3 {
    span {
      display: inline;
    }

    time {
      display: block;
    }
  }
  .container-main .info-unit ul li h3 time {
    float: none;
    text-align: left;
  }

}
