
.container {
  &-side {
    position: absolute;
    width: 20rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 20px #bbb;
    box-sizing: border-box;
    padding: 1rem;

    &__photo {
      text-align: center;
      margin-bottom: 2rem;

      ::v-deep .el-avatar {
        width: 8rem;
        height: 8rem;
      }
    }

    .info-unit ul li {
      span {
        display: inline-block;
        vertical-align: top;
        width: 60%;
      }

      label {
        display: inline-block;
        width: 35%;
      }
    }
  }

  &-main {
    position: relative;
    margin-left: 22rem;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 20px #bbb;
    box-sizing: border-box;
    padding: 1rem;


    .info-unit ul {
      box-sizing: border-box;
      padding-left: 1.2rem;
      padding-right: 0.8rem;

      li {
        margin-bottom: 1rem;
        list-style: disc;

        h3 time {
          text-align: right;
          float: right;
        }
      }
    }

    &__link {
      font-size: .5rem;
      border: 1px solid #4db6ac;
      padding: 1px 3px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      margin-left: .5rem;
    }

    &__content {
      li {
        list-style: circle;
        margin: 0;
      }

      .container-icon {
        font-size: 1em;
      }
    }
  }
}
