.container-icon {
  font-size: 1.2em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
  // font-weight: 300;
}

hr {
  margin-bottom: .4em;
}

aside {
  position: fixed;
  right: 0;
  top: 30%;
  z-index: 2;

  ul {
    li {
      margin-bottom: 10px;
      -webkit-border-radius: 10px 0 0 10px;
      border-radius: 19px 0 0 10px;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      background: #1abc9c;

      a {
        display: inline-block;
        width: 80px;
        height: 38px;
        line-height: 38px;
        padding-left: 10px;
        color: #fff;
      }
    }
  }
}

// 着重显示
mark {
  background: rgba(232, 232, 232, .8);
}



// 右侧标题行跨行
@media screen and (max-width: 1034px) {
  body {
    padding: 1rem 0;
  }
}

// ipad
@media screen and (max-width: 767px) {

}

// 6 plus
@media screen and (max-width: 750px) {
  body {
    // padding: 1rem %;
  }
  .container {
    .container-side {
      position: static;
      width: 95%;
      margin: 0 auto;
    }

    .container-main {
      position: static;
      width: 95%;
      margin: 1.5rem auto 0;
    }
  }
  #nav-m {
    display: none;
    position: fixed;
    width: 28px;
    height: 28px;
    right: 10px;
    bottom: 20px;
    // z-index: 999;
    // border: 1px solid #1abc9c;
    // background: #fff;
    box-shadow: 0 5px 20px #bbb;
    border-radius: 50%;
  }
  #nav-m svg {
    width: 28px;
    height: 28px;

  }
  aside {
    display: none;
  }
}


