//公共部分
body {
  background: #e5e5e5 url(@/assets/images/background.png);
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: .9em;

  .music {
    position: absolute;
    width: 30px;
    height: 30px;
    top: .5rem;
    left: .5rem;
    background: url(@/assets/images/music.svg);
    background-size: 30px;
    z-index: 999;
    cursor: pointer;
    animation: circleRotate 5s infinite linear;

    &--paused {
      animation-play-state: paused;
    }

    @keyframes circleRotate {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  }

  .info-unit {
    margin-bottom: 1rem;

    h2 {
      font-weight: 700;
    }

    h3 {
      font-weight: 300;
    }

    .container-icon {
      margin-right: .3em;
    }
  }

  // ipad
  @media screen and (max-width: 767px) {

  }

  // 6 plus
  @media screen and (max-width: 750px) {
    .music {
      top: 1rem;
      left: 1.5rem;
    }
    //.container {
    //  padding: 1rem 0 0;
    //
    //  .container-side {
    //    position: static;
    //    width: 95%;
    //    margin: 0 auto;
    //  }
    //
    //  .container-main {
    //    position: static;
    //    width: 95%;
    //    margin: 1.5rem auto 0;
    //  }
    //}

    aside {
      display: none;
    }
  }
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
  // font-weight: 300;
}

hr {
  margin-bottom: .4em;
}

aside {
  position: fixed;
  right: 0;
  top: 30%;
  z-index: 2;

  ul {
    li {
      margin-bottom: 10px;
      -webkit-border-radius: 10px 0 0 10px;
      border-radius: 19px 0 0 10px;
      -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
      background: $theme-color;

      a {
        display: inline-block;
        width: 80px;
        height: 38px;
        line-height: 38px;
        padding-left: 10px;
        color: #fff;
      }
    }
  }
}

// 着重显示
mark {
  background: rgba(232, 232, 232, .8);
}

//
//
//// 右侧标题行跨行
//@media screen and (max-width: 1034px) {
//  body {
//    padding: 1rem 3%;
//  }
//}




