// 单行溢出显示三点
.ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

// 两行溢出
.ellipsis-2 {
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

// 清除按钮默认样式
button {
    background-color: transparent;
    padding: 0;
    margin: 0;

    &::after {
        display: none;
    }
}

